:root {
    --lightmode-background: #F8F9F9;
    /* --lightmode-background: red; */
    --lightmode-text: black;
    --darkmode-background: #68767F;
    --darkmode-text: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--lightmode-text);
}

body {
    background-color: var(--lightmode-background);

}

section:last-child {
    margin-bottom: 60px;
}

