* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

.header-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /* border: 1px solid red; */
}

.header-item {
        /* border: 1px solid black; */
        height: 30px;
        width: 200px;
        text-align: center;
}

.header-item:nth-child(1) {
    margin-bottom: -17px;
    z-index: 1;
}

.header-item:nth-child(2) {
    height: 100px;
}

.header-item img {
    width: inherit;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85vw;
    margin: auto;
    margin-top: 20px;
    align-items: center;
}

.question-card__container {
    border: 1px solid red;
    width: 100%;
    height: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    border-radius: 30px;
    background-color: #E21837;

}

.question-card__item {
    /* border: 1px solid blue; */
    text-align: center;
    background-color: #E21837;
    color: white;
}

.question-card__item__number {
    font-size: 2rem;
    width: 170px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid white ;
}

.question-card__item__question {
    font-size: 1rem;
    font-weight: 120;
}

.question-card__item__answer {
    background-color: #68767F;
    padding: 10px;
    color: white;
}

.show-answer {
    background-color: #68767F;
}

.answer-revealed, button:focus .show-answer {
    display: none;
    background-color: #68767F;
}

button:focus .answer-revealed {
    display: block;
}

.answer-revealed ul, .answer-revealed ol, .answer-revealed li {
    background-color: #68767F;
    margin-left: 5px;
}

.answer-revealed li {
    text-align: left;
    line-height: 1.4;
}