
button.question-card__item__answer {
    border: none;
    background-color: #D71834;
    color: white;
}








/* 
.answer-revealed ul, .answer-revealed ol, .answer-revealed li {
    margin-left: 10px;
    background-color: white;

}

.answer-revealed li {
    text-align: left;
    line-height: 1.4;
} */