
button.question-card__item__answer {
    background-color: white;
    min-width: 110px;
    border-radius: 10px;

}

.answer-revealed, button:focus .show-answer {
    display: none;
}

button:focus .answer-revealed {
    display: block;
}


.answer-revealed ul, .answer-revealed ol, .answer-revealed li {
    margin-left: 10px;
}

.answer-revealed li {
    text-align: left;
    line-height: 1.4;
}