
.questions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.question-card__container {
    width: 100%;
    min-height: 200px;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    /* border-radius: 30px; */
    background-color: white;
    box-shadow: 2px 10px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.question-card__item {
    /* border: 1px solid blue; */
    text-align: center;
    background-color: inherit;
    color: black;
}

.question-card__item__bookmark {
    /* width: 30px; */
    position: absolute;
    right: 15px;
    top: -14px;
    background-color: transparent;
}

.question-card__item__bookmark img {
    width: 30px;
}

.question-card__item__number {
    font-size: 1.8rem;
    width: 170px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid black ;
}

.question-card__item__question {
    font-size: 1rem;
    font-weight: 120;
    margin-top: 10px;
}

.question-card__item__answer {
    /* background-color: #68767F; */
    padding: 10px;
    /* color: white; */
    margin-top: 10px;
}

.question-card__item__tag {
    /* border: solid 1px blue; */
    font-size: 0.8rem;

}


/* hover over card effect */

.question-card__container:hover {
    box-shadow: 5px 14px 5px rgba(0, 0, 0, 0.08);
}