nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid #68767F;
}

.nav-item {
    width: 15px;
}

.nav-item img {
    width: 30px;
}

.add-button-white {
    background-image: url(../add.png);
}

.add-button-filled {
    background-image: url(../add_filled.png);
}