@import url(../global.css);

.profile {
    /* border: 1px solid red; */
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-color: white;
}

.about-me__item {
    /* border: 1px solid blue; */
    background-color: inherit;
}

.about-me__item__image { 
    border-radius: 50%;
    width: 120px;
}

.about-me__item__name {
    position: absolute;
    right: 30px;
    top: 110px
}

.about-me__item__bookmark-counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    align-self: flex-end;
    padding: 4px;
    padding-top: 5px;
    border-radius: 8px;
    background-color: #68767F;

}

.about-me__item__bookmark-counter__item__number {
    background-color: #68767F;
    color: white;
}

.about-me__item__bookmark-counter__item__icon {
    background-color: transparent;
}

.about-me__item__bookmark-counter__item img {
    background-color: transparent;
    width: 15px;
}

.settings__darkmode {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}

.settings__darkmode p {
    background-color: inherit;
}

.settings__darkmode img {
    background-color: transparent;
    width: 45px;
}
